* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {

}

.particles-js-canvas-el {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.drag-move {
    position: absolute;
    cursor: pointer;
}


@font-face {
    font-family: NN;
    src: url(../static/font/NN.otf);
}

.f-NN {
    font-family: NN;
}


html {
    font-family: Pangolin;
    scroll-behavior: smooth;
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, #ffa9f9, #fff7ad);
    color: #222222;
}

#app {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}



.clound {
    width: 640px;
}
