{% extends "base.html" %}
{% block title %} Trang chủ {% endblock %}
{% block content %}
<div id="app">

    {% for post in posts %}
    <div>
        <h3>{{ post.to }}</h3>
        <p>{{ post.content }}</p>
        <h3>{{ post.author }}</h3>
    </div>
    {% endfor %}


    <button type="button">Tạo lời nhắn!!!</button>

    <form action action="{{ url_for('cfs') }}" method='POST'>
        <div style="display: flex; flex-direction: column;">
            <label for="from">Từ:</label>
            <input type="text" id="from" name="from" value="">
            <label for="to">Gởi đến:</label>
            <input type="text" id="to" name="to" value="">
            <label for="content">Nhập nội dung:</label>
            <textarea id="content" name="content"></textarea>
            <div>
                <button type="submit">Tạo</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}