{% extends "base.html" %}
{% block title %} Trang chủ {% endblock %}
{% block content %}
<div id="app">
    <div>
        <h3>to: Bạn Linh badass</h3>
        <p>Mình thích bạn lâu r huhu, cho mình xin only à nhầm in4 bạn đi</p>
        <h3>from: Huy gầy</h3>
    </div>

    <div>
        <h3>to: Bạn Hiền chuppychuppy</h3>
        <p>Bạn làm mình nhớ đến mẹ mình vì mẹ mình cũng béo như vậy, bạn có thể làm mommy của mình không ;-;</p>
        <h3>from: Quý no monney</h3>
    </div>

    <button type="button">Tạo lời nhắn!!!</button>
</div>
{% endblock %}