{% extends "base.html" %}
{% block title %} Gởi lời yêu thương {% endblock %}
{% block content %}
<div id="app">
    <div>

        <div>
            <div>
                <h2>Lời nhắn được gởi từ:</h2>
                <input type="text" name="" id="">
            </div>
            <div>
                <h2>Lời nhắn này gởi tới:</h2>
                <input type="text" name="" id="">
            </div>
            <div>
                <h2>Nội dung:</h2>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>


        <div>
            <div>
                <h2>Bạn có muốn lời nhắn này được đăng lên trang confession và fanpage?</h2>
                <input type="checkbox" name="" id="">
            </div>
        </div>


        <div>
            <div>
                <h2>Lựa chọn mẫu thiệp:</h2>
                <h5>right here we will have a slider with some image</h5>
                <h5>và  mấy cái mình nhập ở trên sẽ được display trên thiệp luôn (preview)</h5>
            </div>
        </div>

        <div>
            <div>
                <h2>Hình thức bạn muốn đối phương nhận được "lời yêu"</h2>
                <div>
                    <div>
                        <h3>Gởi tin nhắn tới đối phương</h3>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div>
                        <h3>Link facebook của đối phương:</h3>
                        <input type="text" name="" id="">
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Gởi thiệp trực tiếp</h3>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div>
                        <h3>Thông tin trường và lớp của đối phương:</h3>
                        <input type="text" name="" id="">
                    </div>
                </div>
            </div>
        </div>


        <div>
            <button><a href="\">Xác nhận</a></button>
        </div>

    </div>
</div>
{% endblock %}